* {
  margin: 0;
  padding: 0;
  font-family: 'Mooli', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  width: 7px;
  background-color: #2437469d;
}

html ::-webkit-scrollbar-thumb {
  background-color: #15212A;
  border-radius: 2px;
}

body {
  position: relative;
}

header {
  background-color: #15212aa4;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  backdrop-filter: blur(40px);
}

.nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 8px 20px;
  position: relative;
}

.nav__title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links {
  text-align: center;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  margin: 10px 20px;
  color: #ffffff;
  position: relative;
}

.nav__link::before {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

@media (hover :hover) {
  .nav__link:hover::before {
    width: 100%;
    background-color: #17a2ff;
  }
}

.nav__link::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  top: 25px;
  right: 0;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

@media (hover :hover) {
  .nav__link:hover:after {
    width: 100%;

    background-color: #17a2ff;
  }
}

.switch {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.363);
  border-radius: 5px;
  display: none;
}

.switch input {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  position: absolute;
}

.switch div {
  width: 80%;
  height: 80%;
  margin: 10%;
  position: absolute;
}

.switch span {
  background: #fff;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

.switch .line-1 {
  width: 50%;
  transform: translate(-100%, -10px);
  transform-origin: 0 0;
}

.switch .line-3 {
  width: 50%;
  left: auto;
  right: 0;
  transform: translate(0, 10px);
  transform-origin: 100% 0;
}

.nav__menu-links {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  background-color: #15212A;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0.99;
  display: none;
}

.nav__menu-link {
  font-size: 20px;
  text-decoration: none;
  color: whitesmoke;
}

.hidden {
  display: flex;
}

input:checked+div span.line-1 {
  transform: translate(0, 0) rotate(-45deg);
  box-shadow: 0 0 20px #17a2ff;
}

input:checked+div span.line-3 {
  transform: translate(-100%, 0) rotate(-45deg);
  box-shadow: 0 0 20px #17a2ff;
}

input:checked+div span.line-2 {
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 0 20px #17a2ff;
}

main {
  background-color: #101920;
  width: 100%;
  min-height: 600px;
}

.main__section {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1200px;
  color: #ffffff;
  padding: 4rem 1rem;
}

.main__section div {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 50%;

}

.main__section h1 {
  font-size: 3rem;
}

.main__section h1 span {
  color: #17a2ff;
}

.main-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main__section div p {
  margin: 10px 30px 10px 0;
  font-size: 24px;
}

.main__section div a {
  text-decoration: none;
  width: fit-content;
  padding: 20px 50px;
  color: #fff;
  letter-spacing: 5px;
  border: 3px solid;
  position: relative;
  transition: all 0.6 ease;
  margin-top: 20px;
  border-radius: 10px;
}

.main__section div a:hover {
  background-color: #001a2b;
  box-shadow: 0 0 20px #17a2ff;
  border-color: #17a2ff;
}

.main__section img {
  width: 50%;
  height: auto;
  height: fit-content;
  align-self: center;
}

@media(max-width:755px) {
  .main__section img {
    display: none;
  }

  .main__section div {
    width: 100%
  }
}

.section__projects {
  background-color: #15212A;
}

.projects__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 4rem 0;
}

.projects__container h1 {
  color: #fff;
  font-size: 3rem;
}

@media (max-width:655px) {
  .main__section div p {
    font-size: 20px;
  }

  .nav__links {
    display: none;
  }

  .switch {
    display: block;
  }
}
.section__skill {
  background-color: #101920;
}

.skill__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 4rem 0;
}

.skill-title {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 30px 0;
}

.skills img {
  border: solid black 5px;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

@media (hover :hover) {
  .skills img:hover {
    box-shadow: 0 0 20px #17a2ff;
    transform: skew(3deg, 1deg);
    transform: translate3d(10px, 10%, 5px);
  }
}

.skills span {
  color: white;
}

.svg-skill {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-me {
  background-color: #15212A;
}

.contact__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__container h1 {
  font-size: 3rem;
  color: #fff;
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 80%;
  padding: 8px 20px;
  flex-wrap: wrap;
}

.contact-link {
  text-decoration: none;
  color: #fff;
  border: solid 3px #fff;
  border-radius: 10px;
  padding: 10px;
}

@media (hover :hover) {
  .contact-link:hover {
    box-shadow: 0 0 20px #17a2ff;
    border-color: #17a2ff;
  }
}

.footer {
  background-color: #101920;
}

.footer__container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: dimgray;
  padding: 2rem 20px;
}
.cards_container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cards-1,.cards-3{
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
}
.cards-2{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
}
.card-flex{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 6px;
  margin-bottom: 6px;
}
.esp-1,.esp-2{
 width: 50%;
 padding: 2px;
}
.card-p{
  color: #b1b2b3;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 16px;
}
.esp-1 img{
 width: 500px;
 border-radius: 20px;

}
.esp-2{
  display: flex;
  flex-direction: column;
  gap: 8px;
 
}

.card-link{
  margin-top: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  width: fit-content;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  transition: all ease 0.15s;
  border: solid 2px white;
}
.card-tecno{
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: #4a5155;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right:14px ;
  border-radius: 20px;
}
.card-tecno img{
  width: 30px;
}
@media (hover :hover) {
  .card-link:hover {
    box-shadow: 0 0 5px #17a2ff;
    border-color: #17a2ff;
    scale: 1.05;
  }
}

@media (max-width:1034px) {
  .esp-1,.esp-2{
    width: auto;
    padding: 2px;
    margin-bottom: 5px;
   }
   .cards-1,.cards-2,.cards-3{
    display: flex;
    flex-direction: column;
  }
  .esp-1 img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
   
   }
  }